{{#each postagem}}
<h3>{{titulo}}</h3>
<div class="card">
<div class="card-body">

    <p>{{conteudo}}</p>
    <br>
    <small>{{nome}}</small><br>
    <small>{{date}}</small><a href="/"><button class="btn btn-info ml-4">Voltar</button></a>
</div>
</div>
{{else}}

{{/each}}